Repository knative-extensions/sample-controller, pull requests merged in 2019-09, with the labels that each got.

#90 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/OWNERS_ALIASES
  vendor/knative.dev/pkg/injection/informers/kubeinformers/batchv1beta1/cronjob/cronjob.go
  vendor/knative.dev/pkg/injection/informers/kubeinformers/batchv1beta1/cronjob/fake/fake.go
  vendor/knative.dev/pkg/reconciler/testing/table.go
Labels: approved, lgtm, ok-to-test, size/L

#89 Use the network package to more correctly construct the hostname.
  pkg/reconciler/addressableservice/addressableservice.go
Labels: approved, lgtm, size/XS

#91 Auto-update dependencies
  Gopkg.lock
  pkg/client/injection/informers/samples/factory/fake/fake.go
  pkg/client/injection/informers/samples/factory/samplesfactory.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/factory.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/fakefactory.go
  vendor/knative.dev/pkg/injection/context.go
  vendor/knative.dev/pkg/injection/doc.go
  vendor/knative.dev/pkg/injection/informers/apiextinformers/factory/factory.go
  vendor/knative.dev/pkg/injection/informers/apiextinformers/factory/fake/fake.go
  vendor/knative.dev/pkg/injection/informers/kubeinformers/factory/factory.go
  vendor/knative.dev/pkg/injection/informers/kubeinformers/factory/fake/fake.go
  vendor/knative.dev/pkg/test/clients.go
  vendor/knative.dev/pkg/test/request.go
  vendor/knative.dev/pkg/test/spoof/spoof.go
Labels: approved, lgtm, ok-to-test, size/L

#93 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/client/injection/informers/authentication/factory/authenticationfactory.go
  vendor/knative.dev/pkg/client/injection/informers/authentication/factory/fake/fake.go
  vendor/knative.dev/pkg/client/injection/informers/istio/factory/fake/fake.go
  vendor/knative.dev/pkg/client/injection/informers/istio/factory/istiofactory.go
Labels: approved, lgtm, ok-to-test, size/M

#94 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/test/clients.go
  vendor/knative.dev/pkg/test/ghutil/client.go
  vendor/knative.dev/pkg/test/ghutil/fakeghutil/fakeghutil.go
  vendor/knative.dev/pkg/test/ghutil/issue.go
  vendor/knative.dev/pkg/test/ghutil/pullrequest.go
  vendor/knative.dev/pkg/test/mako/alerter/github/issue.go
  vendor/knative.dev/pkg/test/mako/alerter/slack/message.go
  vendor/knative.dev/pkg/test/prometheus/prometheus.go
  vendor/knative.dev/pkg/test/request.go
  vendor/knative.dev/pkg/test/slackutil/messaging.go
  vendor/knative.dev/pkg/test/spoof/spoof.go
Labels: approved, lgtm, ok-to-test, size/XXL

#95 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/reconciler/testing/context.go
Labels: approved, lgtm, ok-to-test, size/S

#92 use the amdission controller interface for webhook
  Gopkg.lock
  cmd/webhook/main.go
  vendor/knative.dev/pkg/webhook/resource_admission_controller.go
  vendor/knative.dev/pkg/webhook/webhook.go
Labels: approved, lgtm, needs-ok-to-test, size/L

#96 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/test/clients.go
  vendor/knative.dev/pkg/test/logstream/kubelogs.go
  vendor/knative.dev/pkg/test/request.go
  vendor/knative.dev/pkg/test/spoof/spoof.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/coveragecalculator/calculator.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/coveragecalculator/coveragedata.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/tools/tools.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/view/aggregate_coverage.html
  vendor/knative.dev/pkg/test/webhook-apicoverage/view/html_display.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/view/type_coverage.html
  vendor/knative.dev/pkg/test/webhook-apicoverage/webhook/apicoverage_recorder.go
  vendor/knative.dev/pkg/websocket/connection.go
Labels: approved, lgtm, ok-to-test, size/L

#100 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/controller/controller.go
  vendor/knative.dev/test-infra/scripts/release.sh
Labels: approved, lgtm, ok-to-test, size/S

#99 rename the variable for resource validation webhook
  Gopkg.lock
  cmd/webhook/main.go
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/controller/stats_reporter.go
  vendor/knative.dev/pkg/logging/config.go
  vendor/knative.dev/pkg/metrics/config.go
  vendor/knative.dev/pkg/metrics/metricskey/constants.go
  vendor/knative.dev/pkg/metrics/source_stats_reporter.go
  vendor/knative.dev/pkg/metrics/utils.go
  vendor/knative.dev/pkg/webhook/resource_admission_controller.go
  vendor/knative.dev/pkg/webhook/stats_reporter.go
  vendor/knative.dev/pkg/webhook/webhook.go
Labels: approved, lgtm, ok-to-test, size/L

#104 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/apis/field_error.go
  vendor/knative.dev/pkg/source/source_stats_reporter.go
  vendor/knative.dev/pkg/test/spoof/spoof.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/view/README.md
  vendor/knative.dev/pkg/test/zipkin/util.go
  vendor/knative.dev/pkg/testutils/clustermanager/boskos/boskos.go
  vendor/knative.dev/pkg/testutils/clustermanager/boskos/fake/fake.go
  vendor/knative.dev/pkg/testutils/clustermanager/gke.go
  vendor/knative.dev/pkg/tracing/opencensus.go
Labels: approved, lgtm, ok-to-test, size/L

#105 Updating pkg to latest for 0.9 release.
  Gopkg.lock
  Gopkg.toml
  vendor/knative.dev/pkg/test/spoof/spoof.go
  vendor/knative.dev/pkg/test/zipkin/util.go
Labels: approved, lgtm, size/S

#106 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/test-infra/scripts/e2e-tests.sh
  vendor/knative.dev/test-infra/scripts/library.sh
  vendor/knative.dev/test-infra/scripts/presubmit-tests.sh
  vendor/knative.dev/test-infra/scripts/release.sh
Labels: approved, lgtm, ok-to-test, size/S

#107 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/test-infra/scripts/e2e-tests.sh
Labels: approved, lgtm, ok-to-test, size/S

#109 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/configmap/filter.go
  vendor/knative.dev/pkg/configmap/store.go
  vendor/knative.dev/pkg/controller/controller.go
  vendor/knative.dev/pkg/injection/sharedmain/main.go
  vendor/knative.dev/pkg/logging/testing/util.go
  vendor/knative.dev/pkg/metrics/memstats.go
  vendor/knative.dev/pkg/signals/signal_posix.go
  vendor/knative.dev/pkg/webhook/config_validation_controller.go
  vendor/knative.dev/pkg/webhook/resource_admission_controller.go
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/knative.dev/test-infra/scripts/presubmit-tests.sh
  vendor/knative.dev/test-infra/scripts/release.sh
Labels: approved, lgtm, ok-to-test, size/XL

#110 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/OWNERS_ALIASES
  vendor/knative.dev/pkg/test/spoof/spoof.go
  vendor/knative.dev/pkg/testutils/clustermanager/gke.go
Labels: approved, lgtm, ok-to-test, size/S

#111 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/test/webhook-apicoverage/tools/tools.go
  vendor/knative.dev/pkg/testutils/clustermanager/gke.go
Labels: approved, lgtm, ok-to-test, size/M

#112 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/test-infra/scripts/e2e-tests.sh
Labels: approved, lgtm, ok-to-test, size/M
