Repository knative-extensions/sample-controller, pull requests merged in 2019-06, with the labels that each got.

#5 run update_codegen
  .gitattributes
  pkg/client/injection/client/client.go
  pkg/client/injection/client/fake/fake.go
  pkg/client/injection/informers/samples/factory/samplesfactory.go
  pkg/client/injection/informers/samples/v1alpha1/addressableservice/addressableservice.go
Labels: approved, lgtm, size/M

#10 Make a small adjustment to hack/update-deps.sh
  hack/update-deps.sh
Labels: approved, lgtm, size/XS

#11 Update github.com/knative/test-infra dependency
  Gopkg.lock
  vendor/github.com/knative/test-infra/devstats/grafana/dashboards/knative/new-and-episodic-pr-contributors.json
  vendor/github.com/knative/test-infra/devstats/grafana/dashboards/knative/new-contributors-table.json
  vendor/github.com/knative/test-infra/devstats/grafana/dashboards/knative/prs-authors-companies-histogram.json
  vendor/github.com/knative/test-infra/devstats/grafana/dashboards/knative/prs-authors-histogram.json
  vendor/github.com/knative/test-infra/devstats/grafana/dashboards/knative/prs-authors.json
  vendor/github.com/knative/test-infra/devstats/metrics/shared/episodic_contributors.sql
  vendor/github.com/knative/test-infra/devstats/metrics/shared/hist_pr_authors.sql
  vendor/github.com/knative/test-infra/devstats/metrics/shared/new_contributors.sql
  vendor/github.com/knative/test-infra/devstats/metrics/shared/new_contributors_data.sql
  vendor/github.com/knative/test-infra/devstats/metrics/shared/prs_authors.sql
  vendor/github.com/knative/test-infra/scripts/README.md
  vendor/github.com/knative/test-infra/scripts/e2e-tests.sh
  vendor/github.com/knative/test-infra/scripts/library.sh
  vendor/github.com/knative/test-infra/scripts/markdown-link-check-config.rc
  vendor/github.com/knative/test-infra/scripts/markdown-lint-config.rc
  vendor/github.com/knative/test-infra/scripts/presubmit-tests.sh
  vendor/github.com/knative/test-infra/scripts/release.sh
Labels: approved, lgtm, ok-to-test, size/XXL

#13 Update github.com/knative/pkg dependency
  Gopkg.lock
  vendor/github.com/knative/pkg/Gopkg.lock
  vendor/github.com/knative/pkg/hack/update-deps.sh
Labels: approved, lgtm, ok-to-test, size/S

#15 Disable markdown linting.
  test/presubmit-tests.sh
Labels: approved, lgtm, size/XS

#17 Format markdown
  CONTRIBUTING.md
  DEVELOPMENT.md
  code-of-conduct.md
Labels: approved, lgtm, ok-to-test, size/L

#18 Update github.com/knative/test-infra dependency
  Gopkg.lock
  vendor/github.com/knative/test-infra/scripts/README.md
  vendor/github.com/knative/test-infra/tools/dep-collector/README.md
Labels: approved, lgtm, ok-to-test, size/L

#20 Update github.com/knative/test-infra dependency
  Gopkg.lock
  vendor/github.com/knative/test-infra/scripts/library.sh
  vendor/github.com/knative/test-infra/scripts/presubmit-tests.sh
Labels: approved, lgtm, ok-to-test, size/M

#19 Update github.com/knative/pkg dependency
  Gopkg.lock
  vendor/github.com/knative/pkg/Gopkg.lock
  vendor/github.com/knative/pkg/test/request.go
Labels: approved, lgtm, ok-to-test, size/M

#21 Update github.com/knative/pkg dependency
  Gopkg.lock
  vendor/github.com/knative/pkg/Gopkg.lock
  vendor/github.com/knative/pkg/kmeta/names.go
  vendor/github.com/knative/pkg/test/helpers/name.go
  vendor/github.com/knative/pkg/test/logstream/doc.go
  vendor/github.com/knative/pkg/test/logstream/interface.go
  vendor/github.com/knative/pkg/test/logstream/kubelogs.go
  vendor/github.com/knative/pkg/test/logstream/null.go
Labels: approved, lgtm, ok-to-test, size/L

#26 Auto-update dependencies
  Gopkg.lock
  vendor/github.com/knative/test-infra/scripts/e2e-tests.sh
  vendor/github.com/knative/test-infra/scripts/library.sh
  vendor/github.com/knative/test-infra/scripts/presubmit-tests.sh
Labels: approved, lgtm, ok-to-test, size/S

#24 Migrate sample-controller to knative.dev/sample-controller
  DEVELOPMENT.md
  README.md
  cmd/controller/main.go
  cmd/webhook/main.go
  config/controller.yaml
  config/webhook.yaml
  hack/update-codegen.sh
  pkg/apis/samples/v1alpha1/register.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/samples/v1alpha1/addressableservice.go
  pkg/client/clientset/versioned/typed/samples/v1alpha1/fake/fake_addressableservice.go
  pkg/client/clientset/versioned/typed/samples/v1alpha1/fake/fake_samples_client.go
  pkg/client/clientset/versioned/typed/samples/v1alpha1/samples_client.go
  pkg/client/informers/externalversions/factory.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/client/informers/externalversions/samples/interface.go
  pkg/client/informers/externalversions/samples/v1alpha1/addressableservice.go
  pkg/client/informers/externalversions/samples/v1alpha1/interface.go
  pkg/client/injection/client/client.go
  pkg/client/injection/client/fake/fake.go
  pkg/client/injection/informers/samples/factory/fake/fake.go
  pkg/client/injection/informers/samples/factory/samplesfactory.go
  pkg/client/injection/informers/samples/v1alpha1/addressableservice/addressableservice.go
  pkg/client/injection/informers/samples/v1alpha1/addressableservice/fake/fake.go
  pkg/client/listers/samples/v1alpha1/addressableservice.go
  pkg/reconciler/addressableservice/addressableservice.go
  pkg/reconciler/addressableservice/controller.go
Labels: approved, lgtm, size/M

#27 golang format tools
  pkg/reconciler/addressableservice/addressableservice.go
Labels: approved, lgtm, ok-to-test, size/XS

#34 Auto-update dependencies
  Gopkg.lock
  vendor/github.com/knative/test-infra/devstats/grafana/dashboards/knative/new-and-episodic-pr-contributors.json
  vendor/github.com/knative/test-infra/devstats/grafana/dashboards/knative/new-contributors-table.json
  vendor/github.com/knative/test-infra/devstats/grafana/dashboards/knative/prs-authors-companies-histogram.json
  vendor/github.com/knative/test-infra/devstats/grafana/dashboards/knative/prs-authors-histogram.json
  vendor/github.com/knative/test-infra/devstats/grafana/dashboards/knative/prs-authors.json
  vendor/github.com/knative/test-infra/devstats/metrics/shared/episodic_contributors.sql
  vendor/github.com/knative/test-infra/devstats/metrics/shared/hist_pr_authors.sql
  vendor/github.com/knative/test-infra/devstats/metrics/shared/new_contributors.sql
  vendor/github.com/knative/test-infra/devstats/metrics/shared/new_contributors_data.sql
  vendor/github.com/knative/test-infra/devstats/metrics/shared/prs_authors.sql
  vendor/github.com/knative/test-infra/scripts/e2e-tests.sh
  vendor/github.com/knative/test-infra/scripts/library.sh
  vendor/github.com/knative/test-infra/scripts/presubmit-tests.sh
  vendor/github.com/knative/test-infra/scripts/release.sh
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/RELEASING.md
  vendor/knative.dev/pkg/cloudevents/README.md
  vendor/knative.dev/pkg/injection/README.md
  vendor/knative.dev/pkg/test/README.md
Labels: approved, lgtm, ok-to-test, size/XXL

#33 golang format tools
  cmd/webhook/main.go
  pkg/apis/samples/v1alpha1/addressable_service_lifecycle.go
  pkg/reconciler/addressableservice/addressableservice.go
  pkg/reconciler/addressableservice/controller.go
Labels: approved, lgtm, ok-to-test, size/S

#35 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/DEVELOPMENT.md
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/apis/duck/v1alpha1/condition_set.go
  vendor/knative.dev/pkg/apis/duck/v1alpha1/register.go
  vendor/knative.dev/pkg/apis/duck/v1beta1/register.go
  vendor/knative.dev/pkg/apis/istio/authentication/v1alpha1/policy_types.go
  vendor/knative.dev/pkg/apis/istio/authentication/v1alpha1/register.go
  vendor/knative.dev/pkg/apis/istio/v1alpha3/register.go
  vendor/knative.dev/pkg/apis/istio/v1alpha3/virtualservice_types.go
  vendor/knative.dev/pkg/apis/testing/conditions.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/main.go
  vendor/knative.dev/pkg/configmap/testing/configmap.go
  vendor/knative.dev/pkg/controller/stats_reporter.go
  vendor/knative.dev/pkg/injection/sharedmain/main.go
  vendor/knative.dev/pkg/metrics/record.go
  vendor/knative.dev/pkg/metrics/stackdriver_exporter.go
  vendor/knative.dev/pkg/reconciler/testing/table.go
  vendor/knative.dev/pkg/test/README.md
  vendor/knative.dev/pkg/test/clients.go
  vendor/knative.dev/pkg/test/kube_checks.go
  vendor/knative.dev/pkg/test/logging/logging.go
  vendor/knative.dev/pkg/test/monitoring/monitoring.go
  vendor/knative.dev/pkg/test/spoof/spoof.go
  vendor/knative.dev/pkg/test/zipkin/util.go
  vendor/knative.dev/pkg/testing/inner_default_resource.go
  vendor/knative.dev/pkg/testing/resource.go
  vendor/knative.dev/pkg/tracing/opencensus.go
Labels: approved, lgtm, ok-to-test, size/M
