Repository knative-extensions/sample-controller, pull requests merged in 2019-08, with the labels that each got.

#58 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.toml
  vendor/knative.dev/pkg/hack/update-codegen.sh
  vendor/knative.dev/pkg/hack/update-deps.sh
  vendor/knative.dev/pkg/hack/verify-codegen.sh
  vendor/knative.dev/pkg/injection/sharedmain/main.go
  vendor/knative.dev/pkg/test/presubmit-tests.sh
Labels: approved, lgtm, ok-to-test, size/M

#59 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/injection/sharedmain/main.go
  vendor/knative.dev/pkg/test/vegeta/pacers/combined_pacer.go
  vendor/knative.dev/pkg/test/vegeta/pacers/steady_up_pacer.go
Labels: approved, lgtm, ok-to-test, size/L

#60 Updating pkg to latest for 0.8 release.
  Gopkg.lock
  Gopkg.toml
Labels: approved, lgtm, size/XS

#61 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/test-infra/scripts/e2e-tests.sh
Labels: approved, lgtm, ok-to-test, size/XS

#62 Updating pkg to latest for 0.9 work.
  Gopkg.lock
  Gopkg.toml
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/kmeta/names.go
  vendor/knative.dev/pkg/test/request.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/coveragecalculator/README.md
  vendor/knative.dev/pkg/test/webhook-apicoverage/coveragecalculator/calculator.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/coveragecalculator/coveragedata.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/coveragecalculator/ignorefields.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/README.md
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/arraykindnode.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/basictypekindnode.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/node.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/otherkindnode.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/ptrkindnode.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/resourceforest.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/resourcetree.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/rule.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/structkindnode.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/test_util.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/timetypenode.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/tools/README.md
  vendor/knative.dev/pkg/test/webhook-apicoverage/tools/tools.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/view/README.md
  vendor/knative.dev/pkg/test/webhook-apicoverage/view/html_display.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/view/rule.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/webhook/README.md
  vendor/knative.dev/pkg/test/webhook-apicoverage/webhook/apicoverage_recorder.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/webhook/webhook.go
Labels: approved, lgtm, size/XXL

#63 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/test/webhook-apicoverage/webhook/apicoverage_recorder.go
Labels: approved, lgtm, ok-to-test, size/XS

#64 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/apis/v1alpha1/destination.go
  vendor/knative.dev/pkg/apis/v1alpha1/doc.go
  vendor/knative.dev/pkg/apis/v1alpha1/zz_generated.deepcopy.go
  vendor/knative.dev/pkg/hack/update-codegen.sh
Labels: approved, lgtm, ok-to-test, size/L

#65 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/apis/duck/v1beta1/source_types.go
  vendor/knative.dev/pkg/apis/duck/v1beta1/zz_generated.deepcopy.go
  vendor/knative.dev/pkg/testutils/README.md
  vendor/knative.dev/pkg/testutils/clustermanager/boskos/boskos.go
  vendor/knative.dev/pkg/testutils/clustermanager/client.go
  vendor/knative.dev/pkg/testutils/clustermanager/doc.go
  vendor/knative.dev/pkg/testutils/clustermanager/gke.go
  vendor/knative.dev/pkg/testutils/clustermanager/util.go
  vendor/knative.dev/pkg/testutils/common/common.go
Labels: approved, lgtm, ok-to-test, size/L

#66 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/apis/url.go
  vendor/knative.dev/pkg/apis/v1alpha1/destination.go
  vendor/knative.dev/pkg/testutils/README.md
  vendor/knative.dev/pkg/testutils/clustermanager/gke.go
  vendor/knative.dev/pkg/testutils/clustermanager/util.go
  vendor/knative.dev/pkg/testutils/common/common.go
Labels: approved, lgtm, ok-to-test, size/L

#67 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/changeset/commit.go
  vendor/knative.dev/pkg/changeset/testdata/garbage/HEAD
  vendor/knative.dev/pkg/changeset/testdata/with-refs/HEAD
  vendor/knative.dev/pkg/changeset/testdata/with-refs/refs/heads/branch-name
Labels: approved, lgtm, ok-to-test, size/M

#68 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.toml
  vendor/knative.dev/pkg/configmap/testing/configmap.go
  vendor/knative.dev/pkg/testutils/clustermanager/boskos/boskos.go
  vendor/knative.dev/pkg/testutils/clustermanager/gke.go
Labels: approved, lgtm, ok-to-test, size/L

#69 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/tracing/opencensus.go
  vendor/knative.dev/pkg/tracing/zipkin.go
Labels: approved, lgtm, ok-to-test, size/M

#72 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/OWNERS_ALIASES
  vendor/knative.dev/pkg/tracing/config/tracing.go
  vendor/knative.dev/pkg/tracing/opencensus.go
  vendor/knative.dev/pkg/tracing/testing/zipkin.go
  vendor/knative.dev/pkg/tracing/zipkin.go
  vendor/knative.dev/test-infra/scripts/e2e-tests.sh
Labels: approved, lgtm, ok-to-test, size/L

#73 Update OWNERS (and use aliases)
  OWNERS_ALIASES
  hack/OWNERS
  test/OWNERS
Labels: approved, lgtm, size/M

#74 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.toml
  vendor/knative.dev/pkg/test/mako/README.md
  vendor/knative.dev/pkg/test/mako/analyzer.go
  vendor/knative.dev/pkg/test/mako/benchmark.go
  vendor/knative.dev/pkg/test/mako/config.go
  vendor/knative.dev/pkg/test/mako/environment.go
  vendor/knative.dev/pkg/test/mako/sidecar.go
  vendor/knative.dev/pkg/test/mako/testdata/config-mako.yaml
  vendor/knative.dev/pkg/test/mako/time.go
  vendor/knative.dev/pkg/testutils/clustermanager/gke.go
  vendor/knative.dev/pkg/testutils/clustermanager/util.go
  vendor/knative.dev/test-infra/scripts/e2e-tests.sh
  vendor/knative.dev/test-infra/scripts/presubmit-tests.sh
Labels: approved, lgtm, ok-to-test, size/XL

#75 Auto-update dependencies
  Gopkg.lock
  vendor/github.com/pkg/errors/LICENSE
  vendor/github.com/pkg/errors/errors.go
  vendor/github.com/pkg/errors/stack.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/apis/url.go
  vendor/knative.dev/pkg/configmap/informed_watcher.go
  vendor/knative.dev/pkg/configmap/manual_watcher.go
  vendor/knative.dev/pkg/configmap/static_watcher.go
  vendor/knative.dev/pkg/configmap/watcher.go
  vendor/knative.dev/pkg/injection/sharedmain/main.go
  vendor/knative.dev/pkg/profiling/server.go
  vendor/knative.dev/pkg/test/mako/README.md
Labels: approved, lgtm, ok-to-test, size/XL

#82 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/apis/duck/v1/addressable_types.go
  vendor/knative.dev/pkg/apis/duck/v1/doc.go
  vendor/knative.dev/pkg/apis/duck/v1/register.go
  vendor/knative.dev/pkg/apis/duck/v1/source_types.go
  vendor/knative.dev/pkg/apis/duck/v1/status_types.go
  vendor/knative.dev/pkg/apis/duck/v1/zz_generated.deepcopy.go
  vendor/knative.dev/pkg/hack/update-codegen.sh
  vendor/knative.dev/pkg/logging/config.go
  vendor/knative.dev/pkg/profiling/server.go
  vendor/knative.dev/pkg/test/mako/stub-sidecar/main.go
  vendor/knative.dev/pkg/third_party/mako/LICENSE
  vendor/knative.dev/pkg/third_party/mako/README.md
  vendor/knative.dev/pkg/third_party/mako/proto/quickstore.proto
  vendor/knative.dev/pkg/third_party/mako/proto/quickstore_go_proto/quickstore.pb.go
  vendor/knative.dev/pkg/tracing/opencensus.go
  vendor/knative.dev/test-infra/scripts/library.sh
Labels: approved, lgtm, ok-to-test, size/XXL

#83 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/test/ingress/ingress.go
  vendor/knative.dev/pkg/test/spoof/spoof.go
  vendor/knative.dev/pkg/third_party/mako/README.md
Labels: approved, lgtm, ok-to-test, size/S

#88 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/metrics/gcp_metadata.go
  vendor/knative.dev/pkg/metrics/metricskey/constants.go
  vendor/knative.dev/pkg/metrics/metricskey/constants_eventing.go
  vendor/knative.dev/pkg/metrics/metricskey/constants_serving.go
  vendor/knative.dev/pkg/metrics/monitored_resources.go
  vendor/knative.dev/pkg/metrics/monitored_resources_eventing.go
  vendor/knative.dev/pkg/metrics/monitored_resources_serving.go
  vendor/knative.dev/pkg/metrics/record.go
  vendor/knative.dev/pkg/metrics/stackdriver_exporter.go
Labels: approved, lgtm, ok-to-test, size/XL
